---
import Layout from "../layouts/Layout.astro";
import HearingTest from "../components/HeartingTest";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout
  title={t("hearing.title")}
  description={t("hearing.description")}
>
  <main class="prose mx-auto">
    <HearingTest client:idle />
    <article class="p-4">
      <h2>
        {t("hearing.hearingTest.title")}
      </h2>
      <p>{t("hearing.hearingTest.content")}</p>
      <h2>
        {t("hearing.disclaimer.title")}
      </h2>
      <p>{t("hearing.disclaimer.content")}</p>
      <h2>
        {t("hearing.howToTakeTest.title")}
      </h2>
      <p>{t("hearing.howToTakeTest.content")}</p>
      <h3>FAQ's</h3>
      {
        (
          t("hearing.faqs.questions", {
            returnObjects: true,
          }) as []
        ).map((answer: any, question) => (
          <div class="p-2">
            <div class="collapse bg-base-200 collapse-arrow">
              <input type="checkbox" />
              <div class="collapse-title text-xl font-medium">
                {answer.question}
              </div>
              <div class="collapse-content">{answer.answer}</div>
            </div>
          </div>
        ))
      }
    </article>
  </main>
</Layout>
