---
import Layout from "../layouts/Layout.astro";
import Subwoofers from "../components/Subwoofer";
import { t, changeLanguage } from "i18next";
import GTS from "../components/GTS";

changeLanguage("en");
---

<Layout title={t("pips.title")} description={t("pips.description")}>
  <main class="prose mx-auto pb-10">
    <br />
    <h4 class="text-center">The Pips (Greenwich Time Signal)</h4>
    <GTS client:load />

    <article class="p-4">
      <h2>
        {t("pips.pipsInformation.title")}
      </h2>
      <p>{t("pips.pipsInformation.content")}</p>
      <h3>FAQ's</h3>
      {
        (
          t("pips.faqs.questions", {
            returnObjects: true,
          }) as []
        ).map((answer: any, question) => (
          <div class="p-2">
            <div class="collapse bg-base-200 collapse-arrow">
              <input type="checkbox" />
              <div class="collapse-title text-xl font-medium">
                {answer.question}
              </div>
              <div class="collapse-content">{answer.answer}</div>
            </div>
          </div>
        ))
      }
    </article>
  </main>
</Layout>
