---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("ru");
---

<Layout title="Contact Us" description="Contact Us">
  <article class="prose mx-auto h-screen p-2">
    <p>
      We want to provide you with a great experience which is why we want to
      hear from you. Your feedback helps us bring you more of the events you
      love and the service you expect.
    </p>
    <p>email: pckart.net@gmail.com</p>
  </article>
</Layout>
