---
import Layout from "../../layouts/Layout.astro";
import FixMySpeaker from "../../components/FixMySpeaker";
import { t, changeLanguage } from "i18next";

changeLanguage("ru");
---

<Layout
  title={t("speaker.meta_title")}
  description={t("speaker.meta_description")}
>
  <main class="prose mx-auto">
    <FixMySpeaker client:idle />
    <article class="p-2">
      <div role="alert" class="alert alert-warning">
        <span>{t("speaker.note")}</span>
      </div>
      <h2>
        {t("speaker.online_speaker_cleaner.title")}
      </h2>
      <p>{t("speaker.online_speaker_cleaner.description")}</p>
      <h2>
        {t("speaker.how_online_speaker_cleaner_works.title")}
      </h2>
      <p>{t("speaker.how_online_speaker_cleaner_works.description")}</p><h2>
        {t("speaker.water_removal_sound.title")}
      </h2>
      <p>{t("speaker.water_removal_sound.description")}</p><h2>
        {t("speaker.fix_my_speakers_using_water_eject_tool.title")}
      </h2>
      <p>{t("speaker.fix_my_speakers_using_water_eject_tool.description")}</p>
      <h3>FAQ's</h3>
      {
        (
          t("speaker.faqs.questions", {
            returnObjects: true,
          }) as []
        ).map((answer: any, question) => (
          <div class="collapse bg-base-200 m-2">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">
              {answer.question}
            </div>
            <div class="collapse-content">{answer.answer}</div>
          </div>
        ))
      }F
    </article>
  </main>
</Layout>

<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .animation-pulse {
    /*box-shadow: 0 0 0 20px rgba(229,62,62, 0.5);
    transform: scale(0.8);*/
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.8);
      box-shadow: 0 0 0 0 rgb(62, 229, 215);
    }

    70% {
      transform: scale(0.9);
      box-shadow: 0 0 0 60px rgba(229, 62, 62, 0);
    }

    100% {
      transform: scale(0.8);
    }
  }
</style>
