---
import Layout from "../../layouts/Layout.astro";
import ToneGenSection from "../../components/ToneGen";
import { Trans, LanguageSelector, } from "astro-i18next/components";
import { t, changeLanguage } from "i18next";

changeLanguage("ru");
---

<Layout title={t("meta_title")} description={t("meta_description")}>
  <main class="prose mx-auto">
    <h1 class="text-center pt-4">{t("title")}</h1>

    <ToneGenSection client:visible />

    <article class="p-2">
      <div role="alert" class="alert alert-error my-10">
        <span>{t("caution")}</span>
      </div>
      <h2>{t("how_to_generate_tone.title")}</h2>

      <ol>
        {
          (
            t("how_to_generate_tone.steps", { returnObjects: true }) as string[]
          ).map((step, i) => <li>{step}</li>)
        }
      </ol>
      <h3>{t("what_is_tone.title")}</h3>

      <p>
        {t("what_is_tone.description")}
      </p>
      <h3>{t("production_of_sound_frequency.title")}</h3>

      <p>
        {t("production_of_sound_frequency.description")}
      </p>
      <h3>{t("pitch_variation_through_vibrations.title")}</h3>

      <p>
        {t("pitch_variation_through_vibrations.description")}
      </p>

      <h3>{t("measurement_in_hertz.title")}</h3>

      <p>
        {t("measurement_in_hertz.description")}
      </p>
      <h3>{t("pure_tones_and_real_life_complexity.title")}</h3>

      <p>
        {t("pure_tones_and_real_life_complexity.description")}
      </p>
      <h2>{t("utilization_purposes.title")}</h2>
      {
        (
          t("utilization_purposes.purposes", {
            returnObjects: true,
          }) as string[]
        ).map((step, i) => (
          <p>
            <b>{step.split(":")[0]}:</b> {step.split(":")[1]}{" "}
          </p>
        ))
      }<h2>{t("waveforms.title")}</h2>
      <p>{t("waveforms.description")}</p>
      {
        (
          t("waveforms.types", {
            returnObjects: true,
          }) as string[]
        ).map((step, i) => (
          <p>
            <b>{step.split(":")[0]}:</b> {step.split(":")[1]}{" "}
          </p>
        ))
      }
      <h3>FAQ's</h3>
      {
        (
          t("faqs.questions", {
            returnObjects: true,
          }) as []
        ).map((answer: any, question) => (
          <div class="collapse bg-base-200 m-4">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">
              {answer.question}
            </div>
            <div class="collapse-content">{answer.answer}</div>
          </div>
        ))
      }
    </article>
  </main>
</Layout>
