---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import { SEO } from "astro-seo";
import { HeadHrefLangs } from "astro-i18next/components";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <HeadHrefLangs />
    <SEO
      twitter={{
        card: "summary_large_image",
        title: title,
        description: description,
        image: "/favicon.png",
        imageAlt: "Tone generator",
      }}
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          image: "/favicon.png",
          type: "website",
        },
        optional: {
          description: description,
        },
      }}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <header>
    <NavBar />
  </header>
  <body>
    <slot />
  </body>
  <Footer />

  <style is:global>
    /* html {
      font-family: system-ui, sans-serif;
      background: #13151a;
      background-size: 224px;
    } */
  </style>
</html>
