---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import { SEO } from "astro-seo";
import { HeadHrefLangs } from "astro-i18next/components";
import i18next from "i18next";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <HeadHrefLangs />
    <SEO
      twitter={{
        card: "summary_large_image",
        title: title,
        description: description,
        image: "/favicon.png",
        imageAlt: "Tone generator",
      }}
      title={title}
      extend={{
        link: [{ rel: "icon", href: "/favicon.png" }],
      }}
      description={description}
      openGraph={{
        basic: {
          title: title,
          image: "/favicon.png",
          type: "website",
        },
        optional: {
          description: description,
        },
      }}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <header>
    <NavBar />
  </header>
  <body
    >
    <script id="dsq-count-scr" src="//tone-gen.disqus.com/count.js" async
    ></script>

    <slot />
  </body>
  <Footer />

  <style is:global>
    /* html {
      font-family: system-ui, sans-serif;
      background: #13151a;
      background-size: 224px;
    } */
  </style>
</html>
